@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #fff; /* Изменено на белый цвет для текста */
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; /* Убираем отступы */
  background-color: black; /* Основной фон черный */
}

.welcome-screen {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-button {
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background-color: #0d0d0d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Полная высота экрана */
}

.card {
  position: relative;
  width: 300px;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); /* Свечение по краям */
  backdrop-filter: blur(10px); /* Эффект блюра на фоне */
  transition: transform 0.3s ease;
}
.card[data-state="#about"] {
  height: 350px;
  .card-main {
    padding-top: 0;
  }
}

.card[data-state="#experience"] {
  height: 550px;
}

.card.is-active {
  .card-header {
    height: 80px;
  }

  .card-cover {
    height: 100px;
    top: -50px;
  }

  .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

  .card-fullname,
  .card-jobtitle {
    left: 86px;
    transform: none;
  }

  .card-fullname {
    bottom: 18px;
    font-size: 19px;
  }

  .card-jobtitle {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
  }
}

.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;

  * {
    transition: 0.3s;
  }
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding: 20px;
}
.card-desc {
    font-family: 'Jost', sans-serif; /* Шрифт */
    font-size: 14px; /* Общий размер шрифта */
    line-height: 1.6; /* Улучшаем читаемость */
    color: #fff; /* Цвет текста */
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    padding: 15px; /* Внутренние отступы */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    max-width: 300px; /* Максимальная ширина элемента */
    margin: 10px auto; /* Центрируем элемент */
    text-align: center; /* Центрируем текст */
}

.card-desc span {
    display: block; /* Разделение строк */
    margin-bottom: 3px; /* Отступы между строками */
}

.card-desc .title {
    font-size: 20px; /* Размер текста для заголовка */
    font-weight: bold; /* Жирный шрифт для заголовка */
}

.card-desc .languages {
    font-size: 18px; /* Размер текста для языков программирования */
    color: #d9e1ff; /* Цвет для языков программирования */
    white-space: nowrap; /* Запрет на перенос строк */
    margin-left: -5px; /* Сдвиг влево */
    text-align: center; /* Центрируем текст */
    display: inline-block; /* Позволяет элементу занимать только нужную ширину */
    margin-top: 5px; /* Отступ сверху для лучшего визуального разделения */
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
  }
}

.card-timeline {
  margin-top: 30px;
  position: relative;
  &:after {
    background: linear-gradient(
      to top,
      rgba(134, 214, 243, 0) 0%,
      rgba(81, 106, 204, 1) 100%
    );
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
  }
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;
  &:last-child {
    padding-bottom: 5px;
  }

  &:after {
    content: attr(data-year);
    width: 10px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid #fff;
    font-size: 11px;
    text-indent: -35px;
    border-radius: 50%;
    color: rgba(#868686, 0.7);
    background: linear-gradient(
      to bottom,
      lighten(#fff, 20%) 0%,
      #516acc 100%
    );
  }
}

.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  line-height: 1.6;
}


.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой */
  z-index: 0; /* Позади основного контента */
  pointer-events: none; /* Отключаем взаимодействие с слоем */
}



.card-social {
  display: flex;
  justify-content: center; /* Центрирование кнопок по горизонтали */
  align-items: center; /* Центрирование кнопок по вертикали */
  padding: 0px 0; /* Отступы сверху и снизу */
  position: absolute; /* Позиционирование по абсолюту для центровки */
  bottom: 0px; /* Расположение кнопок чуть выше */
  left: 50%; /* Сдвиг влево на 50% */
  transform: translate(-50%, 60px); /* Смещаем ниже с помощью translate */
  width: 100%; /* Ширина блока с кнопками */
  overflow: visible; /* Делает элементы видимыми за пределами контейнера */
  z-index: 10; /* Устанавливаем высокий z-index, чтобы кнопки располагались выше других элементов */

}

.social-button {
  width: 50px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  border-radius: 50%; /* Круглая форма */
  display: flex;
  align-items: center; /* Центрирование содержимого */
  justify-content: center; /* Центрирование содержимого */
  background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
  margin: 0 10px; /* Отступ между кнопками */
  transition: background-color 0.3s, transform 0.3s; /* Плавный переход фона и размера */
}

.social-button img {
  width: 105%; /* Ширина изображения внутри кнопки */
  height: auto; /* Автоматическая высота */
  transition: transform 0.3s; /* Плавный переход размера изображения */
}

.social-button:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Изменение фона при наведении */
  transform: scale(1.1); /* Увеличение кнопки при наведении */
}

.social-button:hover img {
  transform: scale(1.1); /* Увеличение изображения при наведении */
}

/* Модальное окно для сообщения */
#inspect-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0; /* Скрыто по умолчанию */
  transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
  display: none;
  z-index: 100;
}

#inspect-message.show {
  display: block;
  opacity: 1; /* Показать с плавной анимацией */
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Полная ширина экрана */
  height: 100vh; /* Полная высота экрана */
  overflow: hidden;
  z-index: -1; /* Позади всех остальных элементов */
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Растягивает видео по ширине и высоте экрана */
}

#audio-visualizer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#audio-visualizer {
  width: 100%;
  height: 100%;
}
